html {
  font-size: 16px;
}
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#app {
  background-color: $bg-white;
  color: $main-black;
  line-height: 1.4;
}
[class*='__container'] {
  // max-width: 1782px;
  min-width: 290px;
  padding: 0 15px;
  margin: 0 auto;
  @media (min-width: $sm) {
    min-width: 546px;
  }
  @media (min-width: $md) {
    min-width: 728px;
  }
  @media (min-width: $lg) {
    min-width: 962px;
  }
  @media (min-width: $xl) {
    min-width: 1170px;
  }
  @media (min-width: $xxl) {
    min-width: 1370px;
  }
  @media (min-width: 1920px) {
    width: 1780px;
  }
}
