$main-black: #272020;
$orange: #d75437;
$white: #f8f8f8;
$green: #095700;
$ligth-green: #dbe4cf;
$red: #ff0a0a;
$primary-red-orange: #d85638;
$dark-purple-gray: #49454f;
$primary-orange: #d8563859;

$bg-white: #e9e4dd;
$grey: #999999;
$secondary-black: #090909;
$secondary-green: #085500;
$secondary-white: #f2f2f2;
$secondary-red: #b30707;

$secondary-grey: #79747e;
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400p;

$time: 300ms;
